@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  min-height: 100vh;
  background-color: #000;
  text-align: center;
}

.title {
  color: white;
}